.contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
}

.contact-title {
  padding: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

textarea,
input:not([type="submit"]) {
  height: 50px;
  padding-left: 50px;
  width: 250px;
}

textarea {
  padding-top: 16px;
  resize: none;
  height: 250px;
}

input,
textarea {
  border-radius: 20px;
  border: #888 1px solid;
  box-sizing: border-box;
  justify-self: center;
  background-color: var(--background-color);
  color: var(--form-text-color);
}

::placeholder {
  columns: var(--form-text-color);
}

input[type="submit"] {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 125px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  transition: box-shadow 200ms else-in-out, transform 200ms ease-in-out;
  margin: auto;
}

input[type="submit"]:hover {
  transform: scale(1.05s);
}

input[type="submit"]:active {
  transform: translatey(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px) {
  textarea,
  input:not([type="submit"]) {
    width: 600px;
    font-size: 20px;
  }
  form {
    gap: 40px;
  }
}

@media (min-width: 1400px) {
  textarea,
  input:not([type="submit"]) {
    width: 800px;
  }
  .contact-title {
    margin-bottom: 50px;
  }
}
