.main-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-container h1 {
  margin-top: 50px;
  padding: 50px;
}

.projects-container img {
  max-width: 250px;
  align-self: center;
  background-color: var(--project-card-bg);
  border-radius: 20px;
}
.projects-container h3,
p {
  color: var(--text-color);
}

.projects-container a {
  width: fit-content;
  text-decoration: none;
  color: #222;
  transition: transform 200ms ease-in-out;
}

.projects-container a:hover {
  transform: scale(1.05s);
}
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 800px) {
  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
    margin-top: 50px;
  }
}
