@font-face {
  src: url("public/fonts/Inter_18pt-Regular.ttf");
  font-family: Inter;
}

@font-face {
  src: url("public/fonts/Montserrat-Bold.ttf");
  font-family: Montserrat;
}

@font-face {
  src: url("public/fonts/Montserrat-VariableFont_wght.ttf");
  font-family: Montserrat-light;
}

font-face {
  src: url("public/fonts/Montserrat-Medium.ttf");
  font-family: Montserrat-Medium;
}
